<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/default.css">
</head>

<body>
    <div id="container">
    <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/Galgje">Galgje Spelen</a></li>
            <li><a href="/Stats">Stats</a></li>
            <li><a href="/Speler">Speler</a></li>
            <li><a href="/Woord">Woorden</a></li>
    </ul>

    <div>
        @RenderBody()
    </div>
    </div>
    <footer>
        &copy; J13A 2022 | Privacy? | Disclaimer
    </footer>
</body>
</html>
